<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>第一个组件开发模式</title>
  <script src="../js/vue.js"></script>
  <style>
    ul li {
      list-style: none;
    }
    .login {
      padding: 10px;
      border: 2px solid black;
      width: 200px;
      height: 200px;
    }
  </style>
</head>
<body>
  <!-- 
    组件的使用分为三步：
      1. 第一步：创建组件
        Vue.extend({配置项});
        注意：
        + 创建Vue组件的时候，配置项不能使用el配置项，但是需要使用template配置项来配置模板语句
        + 配置项中的data不能使用直接对象的形式，必须使用function
      2. 第二步：注册组件
        + 局部注册：在配置项当中使用components，语法格式：
          components : {
            '组件的名字': 组件对象
          }
        + 全局注册
          Vue.component('组件的名字', 组件的对象);
      3. 第三步：使用组件
    
      小细节：
        1. 在Vue当中是可以使用自闭和标签（独目标签），但是前提必须在脚手架环境中使用
        2. 在创建组件的时候Vue.extend()可以省略，但是底层实际上还是调用Vue.extend()函数的
        3. 组件的名字：
          第一种：全部小写；
          第二种：首字母大写；
          第三种：kebab-case命名法（串式命名法）；
          第四种：CameCase命名法（驼峰式命名法），但是这种方式只允许在脚手架环境中使用
        4. 在创建组件的时候，通过配置项配置一个name，这个name不是组件名字，而是设置Vue开发工具中显示组件的名字
  -->
  <div id="app">
    <h1>{{msg}}</h1>
    <!-- 使用组件 -->
    <vegetable-list></vegetable-list>
    <user-login></user-login>
  </div>

  <div id="app02">
    <user-login />
  </div>

  <script>

    // 1. 创建组件(结构HTML，交互JS，样式CSS)
    const component = Vue.extend({
      name : 'HelloWorlds',
      template : `
        <ul>
          <li v-for="(vegetable, index) in vegetables" :key="vegetable.id">
            {{++index}}. {{vegetable.name}}
          </li>
        </ul>
      `,
      data() {
        return {
          vegetables : [
            {id: '1', name: '西红柿', color: '红色'},
            {id: '2', name: '土豆', color: '黄色'},
            {id: '3', name: '茄子', color: '紫色'},
            {id: '4', name: '菠菜', color: '绿色'}
          ]
        }
      }
    });

    const loginComponent = {
      template : `
        <div class="login">
          <form @submit.prevent="login">
            用户：<input type="text" v-model="username" /><br>
            密码：<input type="password" v-model="password" /><br>
            <button>登录</button>
          </form>
        </div>
      `,
      data() {
        return {
          username : '',
          password : ''
        };
      },
      methods : {
        login() {
          alert(this.username + ',' + this.password);
        }
      }
    };
    // 全局注册
    Vue.component('user-login', loginComponent);

    // Vue 实例
    const vm = new Vue({
      name: 'Application',
      el : '#app',
      data : {
        msg : '第一个组件'
      },
      // 2. 注册组件
      components : {
        // vegetableList是组件的名字，component是组件的变量名
        'vegetable-list' : component
      }
    });

    const vm02 = new Vue({
      el : '#app02'
    });
  </script>
</body>
</html>