<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>模板语法之语法详解</title>
  <!-- 安装Vue -->
  <script src="../js/vue.js"></script>
</head>
<body>
  <!-- 准备容器 -->
  <!-- 主要研究，插值语法
    1. 在data中声明的变量、函数等
    2. 常量
    3. 合法Javascript表达式
    4. 模板表达式都被放在沙盒中，只能访问全局变量的一个白名单，如 Math 和 Date
  -->
  <div id="app">
    <!-- 使用变量 -->
    <p>{{msg}}</p>
    <p>{{log()}}</p>
    <!-- 常量 -->
    <p>{{10}}</p>
    <!-- 合法Javascript表达式 -->
    <p>{{1 + '1'}}</p>
    <p>{{'abc'.split('').reverse().join('')}}</p>
    <!-- 在白名单里 -->
    <p>{{Math.ceil(3.14)}}</p>
  </div>

  <!-- 主要研究，指令语法
    1. 指令的语法作用：
      指令的职责是，当表达式的值改变时，将其产生的连带影响，响应式地作用于 DOM
    2. Vue框架中的所有指令的名字都以"-v"开始
    3. 插值是写在标签体当中，指令是写在标签属性位置
    4. 指令的语法规则：<p v-指令名:参数="表达式" ></p>
      表达式：可以编写合法JavaScript表达式、变量、常量、函数等
      注意：不是所有的指令都有参数和表达式
    5. v-once 指令作用：只渲染元素一次，随后的重新渲染，元素及其所有的子节点将被视为静态内容并跳过。这可以用于优化更新性能
    6. v-if 指令作用：表达式的执行结果需要一个布尔类型的数据：true/false
      true表示：这个指令所在标签会被渲染到浏览器当中，否则不会渲染
  -->
  <div id="div01">
    <p v-once>{{msg}}</p>
    <p v-if="true">{{msg}}</p>
  </div>

  <!-- 
    v-bind指令详解：它是一个负责动态绑定的指令
    1. v-bind指令的编译原理：
      编译前：
        <p v-bind:参数="表达式" ></p>
      编译后：
        <p 参数="表达式" ></p>
    2. 注意事项
      第一：在编译的时候v-bind后面的参数名会被编译为HTML标签的属性名
      第二：表达式关联data属性，data数据变化，表示式内容变化，HTML属性值也变化
    3. 这个指令的作用：
      它可以让HTML标签的某个属性的值产生动态效果
    4. v-bind因为很常用，所以Vue框架对指令提供了一种简写方式
  -->
  <div id="bind">
    <p v-bind:style="style">文字</p>
    <p :style="style">简写方式</p>
  </div>

  <!-- v-bind和v-model的区别和联系
    1. v-bind和v-model这个指令都可以完成数据绑定
    2. v-bind是单向数据绑定，v-model是双向数据绑定
    3. v-bind可以使用在任何HTML标签当中。
    4. v-model元素只能在表单类元素上，例如：
      input标签、select标签、textarea标签
    5. 由于表单类的元素才能给用户提供交互输入的页面
      并且v-model指令通常也是用在vlaue属性上
    6. v-bind和v-model都有简写方式
      v-bind -> :参数="表达式"
      v-model -> v-model="表达式"
  -->
  <div id="model">
    <input type="text" :value="name01" /><br>
    <input type="text" v-model="name02" />
  </div>

  <!-- Vue程序 -->
  <script>
    new Vue({
      el : '#app',
      data : {
        // 声明变量
        msg : 'Name',
        log : function(){
          console.log("Hello World!")
        }

      }
    }); 

    new Vue({
      el : '#div01',
      data : {
        msg : 'Name'
      }
    });

    new Vue({
      el : '#bind',
      data : {
        style : `color: skyblue; font-size: 30px; font-weight: bold;`
      }
    });

    new Vue({
      el : '#model',
      data : {
        name01 : '名字1',
        name02 : '名字2'
      }
    });
  </script>
</body>
</html>