<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>侦听属性的变化简写</title>
  <script src="../js/vue.js"></script>
  <style>
    input {
      display: block;
    }
  </style>
</head>
<body>
  <div id="app">
    <h1>{{msg}}</h1>
    <input type="text" v-model="number" />
    <input type="text" v-model="number2" />
  </div>

  <div id="comparison">
    <h1>{{msg}}</h1>
    <input type="text" v-model="number01" />
    <input type="text" v-model="number02" />
    <p>比较大小: {{result}}</p>
  </div>

  <!-- 
      1. 以上比较大小的案例可以用computed完成，并且比watch还要简单。
        所以要遵守一个原则: computed和watch都能够完成的，优先选择computed
      2. 如果要开启异步任务，只能选择watch。因为computed依靠return。
        watch不需要依赖return
  -->
  <div id="div01">
    <h1>{{msg}}</h1>
    <input type="text" v-model="number01" />
    <input type="text" v-model="number02" />
    <p>比较大小: {{result}}</p>
  </div>

  <script>
    const vm = new Vue({
      el : '#app',
      data : {
          msg : '侦听属性的变化',
          number : 0,
          number2 : 0,
          number3 : 0,
          /* a属性中保存的值是一个对象的内存地址 */
          objects : {
            values : 0
          }
      },
      computed : {
        info() {
          return '计算属性: ' + this.number;
        }
      },
      watch : {
        // 可以监视多个属性
        // 可以监视Vue原有属性
        number : {
          // 初始化的时候，调用一次handlder方法
          immedite : true,
          // 固定写死的方法，方法名叫做：叫handler
          // handler方法时候被调用，当被监视的属性发生变化的时候，handler就会自动调用一次
          /* 
            handler两个方法参数
              1. 第一个参数：newValue: 属性值改变之后的新值
              2. 第二个参数：oldValue: 属性值改变之前的旧值
          */
          handler(newValue, oldValue) {
            console.log(newValue, oldValue);
            // this是当前的Vue实例
            console.log(this === vm);
          }
        },
        // 也可以监视计算属性
        info : {
          handler(newValue, oldValue) {
          }
        },
        // 监视object属性
        // 如果监视的属性具有多级结构，一定添加单引号
        'objects.values' : {
          handler(newValue, oldValue) {
            console.log(newValue, oldValue);
          }
        },
        values : {
          // 启动深度监视，默认不开启深度监视
          // 需要监视一个具有结构的属性，并且监视所有的属性
          deep : true
        },
        // 当只有handler回调函数的时候，可以使用简写形式
        number(newValue, oldValue) {
          console.log(newValue, oldValue);
        }
      }
    });
    
    new Vue({
      el : '#comparison',
      data : {
        msg : '比较大小的案例Watch',
        number01 : 0,
        number02 : 0,
        result : ''
      },
      watch : {
        // 监视number01
        number01 : {
          immediate : true,
          handler(value) {
            let result = value - this.number02;
            if (result == 0) {
              this.result = value + '=' + this.number02;
            } else if (result > 0) {
              this.result = value + '>' + this.number02;
            } else if (result < 0) {
              this.result = value + '<' + this.number02;
            }
          }
        },
        // 监视number02
        number02 : {
          immediate : true,
          handler(value) {
            let result = this.number01 - value;
            if (result == 0) {
              this.result = this.number01 + '=' + value;
            } else if (result > 0) {
              this.result = this.number01 + '>' + value;
            } else if (result < 0) {
              this.result = this.number01 + '<' + value;
            }
          }
        }
      }
    });

    new Vue({
      el : '#div01',
      data : {
        msg : '比较大小的案例Computed',
        number01 : 0,
        number02 : 0,
      },
      computed : {
        // 这是计算属性的简写形式
        result() {
          let result = this.number01 - this.number02;
          if (result == 0) {
            return this.number01 + '=' + this.number02;
          } else if (result > 0) {
            return this.number01 + '>' + this.number02;
          } else if (result < 0) {
            return this.number01 + '<' + this.number02;
          }
        }
      }
    });

    // 后期添加监视，调用Vue相关的API即可
    // 语法：vm.$watch('被监视的属性名', {})
    vm.$watch('values', {
      immedite : true,
      deep : true,
      handler(newValue, oldVlaue) {
        console.log(newValue, oldVlaue);
      }
    })
  </script>
</body>
</html>