<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>列表渲染数组对象等</title>
  <script src="../js/vue.js"></script>
  <style>
    ul li {
      list-style: none;
    }
    span {
      color: red;
    }
  </style>
</head>
<body>
  <div id="app">
    <h2>{{msg}}</h2>
    <!-- 动态列表 -->
    <ul>
      <!-- 
        1. v-for要写在循环项上
        2. v-for语法规则:
          v-for="变量名,下标 in/of 数组"
          变量名代表数组中的每一个元素
      -->
      <li v-for="(fruit, index) in fruit">
        {{++index}}. {{fruit}}
      </li>
    </ul>

    <!-- 遍历对象的属性 -->
    <h2>遍历对象的属性</h2>
    <ul>
      <li v-for="(value, propertyName) in user">
        {{propertyName}}, {{value}}
      </li>
    </ul>
    <!-- 遍历字符串 -->
    <h2>遍历字符串</h2>
    <ul>
      <li v-for="(character, index) in msg">
        {{index}}, {{character}}
      </li>
    </ul>
    <!-- 遍历指定的次数 -->
    <h2>遍历指定的次数</h2>
    <ul>
      <li v-for="(number, index) in 3">
        {{index}}, {{number}}
      </li>
    </ul>

    <!-- 虚拟dom和diff算法 -->
    <h2>虚拟dom和diff算法</h2>
    <table>
      <thead>
        <tr>
          <th>序号</th>
          <th>蔬菜</th>
          <th>颜色</th>
          <th>选择</th>
        </tr>
      </thead>
      <tbody>
        <!-- 
          1. v-for标签中，还有key属性
          2. 如果没有指定 :key属性，会自动拿index作为key
          3. 这个key是这个dom元素的身份证号/唯一标识符
          4. 采用index作为key存在的问题
            - 效率低
            - 产生错乱，尤其对非末尾某个元素进行操作
          解决这个问题
            - 建议使用对象的id作为key
        -->
        <tr v-for="(vegetable, index) in vegetables" :key="vegetable.id">
          <td>{{++index}}</td>
          <td>{{vegetable.name}}</td>
          <td>{{vegetable.color}}</td>
          <td><input type="checkbox"></td>
        </tr>
      </tbody>
    </table>
    <button @click="add">添加更多</button>
    <p>Vue框架是采用了虚拟Dom机制+Diff算法, 来提高执行效率</p>
    <p><span>虚拟DOM</span>: 在内存当中的dom对象</p>
    <p><span>Diff算法</span>: 这是一种能够快速的比较出两个事物不同之处的算法</p>

    <h2>列表的过滤</h2>
    <input type="text" placeholder="请输入搜索颜色" v-model="keyword">
    <ul>
      <li v-for="(vegetable, index) in getValue" :key="vegetable.id">
        {{index}}. {{vegetable.id}}, {{vegetable.name}}, {{vegetable.color}}
      </li>
    </ul>

    <h2>列表的排序</h2>
  </div>

  <script>
    new Vue({
      el : '#app',
      data : {
        msg : '列表渲染之数组',
        fruit : ['苹果', '雪梨', '柑橘'],
        user : {
          name : 'user',
          age : 12,
          gender : '男'
        },
        vegetables : [
          {id: '101', name: '西红柿', color: '红色'},
          {id: '102', name: '土豆', color: '黄色'},
          {id: '103', name: '茄子', color: '紫色'},
          {id: '104', name: '菠菜', color: '绿色'}
        ],
        keyword : ''
      },
      methods : {
        add() {
          this.vegetables.unshift({id: '105', name: '菠菜', color: '绿色'});
        }
      },
      computed : {
        getValue() {
          // 执行过滤规则
          return this.vegetables.filter((vegetable) => {
            return vegetable.color.indexOf(this.keyword) >= 0;
          });
        }
      }
    });
  </script>
</body>
</html>